<header role="banner" id="global-header" class="with-proposition ">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="/" title="Go to homepage" id="logo" class="content">
                    Home Office
                </a>
            </div>
        </div>
        <div class="header-proposition">
            <div class='content'>
                <nav id='proposition-menu'>
                <a href="/" id="proposition-name">HODAC Design Manual</a>
                    <ul id='proposition-link'>
                      <li><a class="page-link" href="/styleguide">Styleguide</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
