// allignments
.text-align-left {
  text-align: left !important
}

.text-align-right {
  text-align: right !important
}

.text-align-center {
  text-align: center !important
}

.text-align-middle {
  display: inline-block !important;
  vertical-align: middle !important
}

.text-nowrap {
  white-space: nowrap !important;
}
