$positive: rgb(111, 205, 26);
$negative: rgb(195, 0, 22);
$positive-chart: rgb(21, 124, 7);
$negative-chart: rgb(89, 0, 120);
$positive-percent: rgb(126, 209, 33);
$negative-percent: rgb(144, 18, 253);
$button-border: rgb(132, 132, 132);


// new colors
// use compass color generator
$color_la_palma_approx: #389818;
$color_midnight_blue_approx: #043464;
$color_electric_violet_approx: #8f12fd;
$color_lima_approx: #7ed221;
$color_sea_buckthorn_approx: #f5a523;
$color_medium_purple_approx: #ad5cf4;
$color_conifer_approx: #a5f654;
$color_chartreuse_approx: #78e403;
$color_link_water_approx: #dbe9f9;
$color_gravel_approx: #4a4a4a;
$color_alto_approx: #dcdcdc;
$color_star_dust_approx: #9b9b9b;
$color_fun_green_approx: #006435;
$color_christi_approx: #62a61b;
$color_orange_approx: #f3621a;
$color_plum_approx: #912b88;
