// grids with flexbox
$module: flex-grid;

// module
.#{$module} {
  display: flex;
  flex-direction: row;
  margin: 0 -15px;

  @include media(mobile) {
    flex-direction: column;
  }

  &__col {
    box-sizing: border-box;
    flex: 1;
    padding: 0 15px;
    display: flex;

    @include media(mobile) {
      margin: 5px 0;
    }
  }
}
