.sticky {
  font-size: 16px;
  line-height: 1.5;
  position: relative;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
  }
}

.sticky-content {

  li {

    a {
      text-decoration: none;
      color: $link-colour;

      &:before {
        content: '- ';
      }

      &.current {
        font-weight: bold;
      }

    }

  }

}
